/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.fa {
  width: 60px;
  display: block;
  text-align: center;
  color: #fff;
  font: normal 45px "FontAwesome";
  line-height: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-angle-double-down:before {
  content: "\f107";
}

.bounce {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.navbar {
  color: #fff;
  text-decoration-color: #fff;
  -webkit-box-shadow: 0px 76px 54px -44px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 76px 54px -44px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 76px 54px -44px rgba(0, 0, 0, 0.75);
}
.navbar a {
  color: #fff;
}

.header-bg {
  height: 100vh;
  background-color: #333;
  background-image: url("/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 300px 300px 0px 600px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 300px 300px 0px 600px rgba(0, 0, 0, 0.5);
  box-shadow: inset 300px 300px 0px 600px rgba(0, 0, 0, 0.5);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

.header-text {
  color: #fff;
  font-size: 70px;
}

.card-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.no-style {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.no-style:hover {
  color: inherit;
}

h1 {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  /* font-weight: 700; */
  line-height: 64px;
  margin: 0 0 0;
  padding: 20px 0px;
}

h2 {
  color: #333;
  font-family: "Roboto", sans-serif;
  /* font-size: 38px; */
  /* font-weight: 700; */
  /* line-height: 48px; */
  /* margin: 0 0 24px; */
  padding: 30px 0px;
}

p {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 48px;
}

.link {
  color: #333;
  text-decoration: none;
}

.link:hover {
  color: #17a2b8;
}

.cardButton {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 10px 0;
  top: 206px;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.hoverCard:hover .cardButton {
  opacity: 100;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  cursor: pointer;
}

.hoverCard:hover .cardButton:hover {
  background-color: #17a2b8;
  color: #fff;
  cursor: pointer;
}

.cardImg {
  position: absolute;
  top: 50px;
  left: 70px;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  max-width: 50%;
}

.bgCardImg {
  max-height: 250px;
}

.single-azulego-wood-azulejo {
  position: absolute;
  top: 25%;
  left: 25%;
  box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}

.div-tile {
  background-repeat: repeat;
}

.profile-user {
  display: "flex";
  flex-direction: "column";
  text-align: left;
}

.comments-box {
  width: 100%;
  border: 2px solid rgb(230, 230, 230);
  background-color: rgb(245, 245, 245);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
